@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Saira+Stencil+One&display=swap');
@import 'tailwindcss';

@theme {
  
  --font-saira: 'Saira Stencil One', sans-serif;
  --font-barlow: 'Barlow Semi Condensed', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --default-font-family: var(--font-rubik);

  
  
  /* Fondos Oscuros */
  --color-brand-dark: #011822;      /* Header Background */
  --color-brand-navy: #002B38;      /* Botones oscuros (Crea tu perfil) */
  --color-brand-black: #000000;     /* Fondo global */

  /* Acentos */
  --color-accent-orange: #F49624;   /* Colaboraciones, Botones */
  --color-accent-purple: #9747FF;   /* Bordes, Hover */
  --color-accent-cyan: #34DFDE;     /* Background Concursos */
  --color-accent-yellow: #FFC943;   /* Background Galería */
  --color-accent-blue: #19CEEE;     /* Únete a la comunidad */
  
  /* Textos */
  --color-text-primary: #FFFFFD;    /* Descubre Talentos (casi blanco) */
  --color-text-secondary: #CCCCCC;  /* Descripción */
  --color-text-dark: #041421;       /* Letras sobre fondos claros */

  /* Gradientes (Definidos como background-image) */
  --background-image-gradient-cyan: linear-gradient(to bottom, #4AEDD1, #44E9D4, #34DFDE, #19CEEE, #0BC5F7);
  --background-image-gradient-orange: linear-gradient(to right, #F49624, #0CC6F8);
  
  /* Sombras */
  --shadow-text-sm: 0px 3px 0px rgba(0, 0, 0, 0.25);
}

/* Estilos base globales */
html, body {
  background-color: var(--color-brand-black);
  color: var(--color-text-primary);
}