---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Galería — Digital Revolution Web"
  description="Galería de trabajos y proyectos de la comunidad. Fotografías, música y arte visual de talentos locales."
  image="/og-galeria.jpg"
>
  <h1 class="page-title">Pagina de Galeria</h1>
</Layout>

<style>
  .page-title {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
  }
</style>
import '../../styles/global.css';

import Layout from "../../layouts/Layout.astro"
import { HeroSection } from "../../components/gallery/GalleryHero.tsx"
import { GalleryGrid } from "../../components/gallery/GalleryGrid.tsx"

async function fetchImages(){
  const response = await fetch(
    `https://picsum.photos/v2/list`
  );

  if (!response.ok) {
    throw new Error(`Error al obtener imágenes: ${response.statusText}`);
  }

  const data = await response.json();
  return data

}

const images = await fetchImages()
---

<Layout>
    <HeroSection client:only="react" />
    <GalleryGrid client:only="react" images={images}></GalleryGrid>
</Layout>
