---

---

<section class="colab-section">
  <div class="shape-back-colab" />
</section>

<style>
  .shape-back-colab {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(
      135deg,
      #ff8c00 0%,
      #ff9a5a 30%,
      #ffb07a 60%,
      #ffcc99 100%
    );
    clip-path: polygon(100% 46%, 0% 100%, 100% 100%);
    z-index: -1;
  }

  .text-content-colab {
    color: var(--color-text-dark);
    font-weight: bold;
    z-index: 10;
    position: absolute;
    bottom: 130px;
    right: 35px;
    padding: 0;
    font-family: Impact , 'Impact', 'Arial Black', sans-serif;
    font-size: 96px;
    line-height: 1.1;
    text-align: right;
    text-shadow: 3px 3px 0px var(--color-accent-orange); /* #F49624 */
    

  }
</style>
