---
import Card from './Card.astro';
import cardLogo from '../assets/prueba.jpg';
---

<section class="h-auto w-auto bg-gray-950">
  <div class="general relative z-30 h-130 bg-teal-300">
    <h1 class="pt-20 pl-10 text-6xl font-bold">Concursos <br /> Activos</h1>
    <div class="mx-5 my-2 flex gap-10">
      <Card
        title="Concurso de Fotografía"
        ctaText="Ver Más"
        imageUrl={cardLogo.src}
        altText="Imagen del concurso de fotografía"
        ctaLink="#"
      />
    </div>
  </div>
</section>

<style>
  .general {
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0 100%);
  }
</style>
