---
import Card from './Card.astro';
import cardLogo from '../assets/prueba.jpg';

---

<section id="concursos" class="bg-brand-backgroundGlobal h-auto w-auto">
  <div class="general relative z-30 h-130 bg-accent-cyan">
    <!-- Usamos la clase global aquí -->
    <h1 class="heading-impact custom-shadow pt-20 pl-10 drop-shadow-lg">
      Concursos <br /> Activos
    </h1> 
    <div class="mx-5 my-2 flex gap-10">
      <Card
        title="Concurso de Fotografía"
        ctaText="Ver Más"
        imageUrl={cardLogo.src}
        altText="Imagen del concurso de fotografía"
        ctaLink="#"
      />
    </div>
  </div>
</section>

<style>
  .general {
    clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0 100%);
  }

</style>
