---

---

<section class="hero relative w-full h-screen flex items-center justify-center text-left text-black px-4 sm:px-9 lg:-8">
        <div class="w-1/2 flex flex-col text-white">
            <h1 class="text-6xl">Descubre Talentos</h1>
            <p class="text-3xl text-gray-300 mt-4">Encuentra y conecta con personas creativas <br>de diversas disciplinas</p>
            <button class="mt-6 bg-indigo-500 text-white px-6 py-3 rounded-lg text-lg">Explora Talentos</button>
        </div>
        <!-- Estas imagenes es solo de prueba y se deben de hacer en una astro islan de react -->
        <div class="w-1/2 flex justify-center gap-4">
            <div class="w-40 h-64 bg-blue-900 rounded-3xl overflow-hidden">
                <img src="imagen1.webp"alt="Perfil destacado 1"class="w-full h-full object-cover"/>
            </div>
            <div class="w-40 h-64 bg-blue-400 rounded-3xl overflow-hidden">
                <img src="imagen1.webp"alt="Perfil destacado 1"class="w-full h-full object-cover"/>
            </div>
            <div class="w-40 h-64 bg-blue-500 rounded-3xl overflow-hidden">
                <img src="imagen1.webp"alt="Perfil destacado 1"class="w-full h-full object-cover"/>
            </div>
        </div>
</section>

<style>
    .hero {
        background: rgb(108,144,195);
        background: radial-gradient(circle at 74% 50%, rgba(39,66,114,1) 0%, rgba(13,20,51,1) 35%);
    }
</style>