---
import '../styles/glass-card.css';
import Accordeon from '../components/AccordeonSlider.astro';
---

<section
  class="relative w-full bg-gray-950 h-[100vh] flex items-center justify-center text-left text-black px-4 sm:px-9 lg:-8 overflow-hidden"
>
  <div class="z-10 flex w-full -mt-20 px-8 gap-8">
    <div class="w-1/2 flex flex-col justify-center text-white">
      <h1 class="text-6xl font">Descubre Talentos</h1>
      <p class="text-3xl text-gray-300 mt-4">
        Encuentra y conecta con personas creativas <br />de diversas disciplinas
      </p>
      <button
        class="mt-6 bg-gray-800 border-1 border-gray-700 text-white px-6 py-3 rounded-lg text-lg"
      >
        Explora Talentos
      </button>
    </div>
    <Accordeon />
  </div>
</section>
