---

---

<div class="wrapper">
<div class="azul"> Azul</div> 
<div class="separador"></div>
<div class="amarillo">
    <div class="text"> Amarillo </div>
</div> 
</div>

<style>
    * {
        color: aliceblue;
    }
    .wrapper {
        background-color: black;
    }
    .azul {
        background-color: aqua;
        height: 300px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
    }
    .amarillo {
        margin-top: -140px;
        background-color: yellowgreen;
        height: 300px;
        clip-path: polygon(0% 40%, 100% 0%, 100% 100%, 0% 100%);
    }
</style>

