---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <h1 class="page-title">Pagina de Perfiles</h1>
</Layout>

<style>
  .page-title {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
  }
</style>
